{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": ["error", 2, { "ignoreComments": true }],
    "semi": ["error", "always"],
    "no-trailing-spaces": ["error", { "skipBlankLines": false }],
    "no-multiple-empty-lines": "error", 
    "comma-spacing": ["error", { 
      "before": false, 
      "after": true 
    }],
    "max-len": ["error", { "code": 80 }],
    "no-multi-spaces": "error",
    "quotes": ["error", "double"],
    "no-var": "error",
    "prefer-const": ["error", {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
    }],
    "require-await": "error",
    "spaced-comment": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "space-before-blocks": [ "error", { 
      "functions": "always", 
      "keywords": "never", 
      "classes": "always" 
    }],
    "eol-last": ["error", "never"]
  }
}
